body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

.custom-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #2C3E50;
    margin-bottom: 20px;
}

.header-image {
    text-align: center;
    margin-bottom: 20px;
}

.sidebarPanel {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dt-table {
    font-size: 14px;
    text-align: center;
}

.download-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
